<div class="col-12">
    <h2>About</h2>
    <br>
   <div class="col-2"></div>
    <div class="col-8">
   <center>
    <p>Java User Groups (JUGs) are volunteer organizations that strive to distribute Java-related knowledge around the world.<br>
       They provide a meeting place for Java users to get information, share resources and solutions, increase networking,
       expand Java Technology expertise, and above all, drink beer, eat pizza and have fun.<br>
       The JUG Community is the meeting point for JUGs, helping promote the expansion of the worldwide Java Community.<br>
       JUG leaders & members, from experts to Java newbies can share information about creating, joining and running a JUG.<br>
       So, whether you're already part of a JUG, looking to join one, or if you're interested in creating your own local group,
       you've come to the right place! Welcome to the Java User Groups Community!<br>
       Take a look at the JUGs Community Objectives, to learn how your JUG can benefit from participation in this community!</p><br><br>


       You can also follow us on the Java.net web site or on our official Facebook page<br><br>
       <a href="https://www.java.net//jugs/java-user-groups"> <img src="img/follow.jpg"></a>
       <a href="https://www.facebook.com/pages/Esprit-JUG/476649862401413?fref=ts"><img src="img/facebook.png" style="margin-left:80px;"></a>



   </center>
    </div>







</div>