<div class="col-12">
    <h2>Community</h2>
    <br>
    <div class="col-2"></div>
    <div class="col-8">
        <center>
            <p>The Java User Groups Community aims to be the meeting point for JUGs, in order to create a better interaction
                among the groups, expanding and strengthening the Java movement worldwide.<br>
                Here, in the JUGs Community page, JUG leaders and JUG members can come to share information about creating,
                joining and running a JUG, and to work together in tools, projects and discussions that are important for the worldwide Java community.<br>
                As a community of JUGs, projects submitted to this community must represent groups of users,
                that focus primarily in Java and Java-related technologies. Each JUG project can have their own technical sub-projects.<br><br>


                The JUGs Community congregates Java User Groups. All JUGs, presence or virtual, from anywhere in the world,
                can be part of this community. On the other hand, this community is only for Java User Groups, so,
                every group that requests to join this community must consider itself a JUG, and act accordingly.
                The JUGs Community is an independent community, that is responsible to run itself, and that counts with the infrastructure support
                from java.net. Every JUG inside the JUGs Community is itself an independent community, and the JUGs Community will not interfere
                in how a JUG runs itself. As long as a JUG meets the requirements set forth by this community, it will be considered as a member
                of the community.<br>
                The community can be accessed trough it's java.net address, http://community.java.net/jugs,
                or through the more generic address http://www.javausergroups.org
                .Every JUG can request to be linked to the JUGs Community, or to have a project in the JUGs Community.</p><br><br>


            Follow us on the Java.net web site!<br><br>
            <a href="https://java.net/projects/esprit-jug/pages/Home"> <img src="img/java.net.png"></a><br><br>




        </center>
    </div>







</div>