


<div>
<div class="col-12">
    <h2>Contact us</h2>

    <form>

        <div class="form-fields">
            <input type="email" class="input-large" id="email" placeholder="E-mail" ng-model="mess.from">
        </div>

        <div class="form-fields">
            <input type="text" class="input-large" id="subject" placeholder="Subject" ng-model="mess.subject">
        </div>

        <div class="form-fields">
            <textarea class="input-large" rows="10" id="about" placeholder="About" ng-model="mess.body"></textarea>
        </div>
        <button  class="btn btn-success btn-large" ng-click="doContact()" style="margin-left:400px;">Send</button>
    </form><br><br>



    <center><a href="http://www.esprit.ens.tn/" ><img src="img/logo.png"></a><br><br>
        <p>
        Address : Z.I. Chotrana II - B.P. 160 - 2083 Technological Pole - El Ghazala<br>
        Phone : (+216) 70 68 56 85<br>
        Fax : (+216) 70 68 54 54<br>
        E-mail : contact@esprit.ens.tn</p>
        <br><br>
        <img src="img/site.jpg">
    </center>
</div>
</div>