<div class="container-center col-12">

    <div class="row">
        <div class="carousel-steps-container">
            <div class="col-4 carousel-step">
                <img src="img/EspJug.png" class="img img-well"/>
                <h3 class="muted">Esprit Tunisian JUG</h3>
                <p>JUG stands for Java ™ User Group is an independent, international, non-profit organization that brings together stakeholders and actors who share an interest in the Java ™ technology.
                    ESPRIT JUG is the first JUG organization active in Tunisia. ...</p>
                <a href="#/EspTunJug" class="btn btn-large btn btn-info">Read more</a>
            </div>
            <div class="col-4 carousel-step">
                <img src="img/EspJug.png" alt="" class="img img-well" />
                <h3 class="muted">ESPRIT JUG DAY 2013</h3>
                <p>More than just an event, ESPRIT JUG DAY 2013 wants to be a moment of exchange and knowledge sharing between professionals, research professors and students. ...</p>
                <a href="#/jugDay/JugDay2013" class="btn btn-large btn btn-info">Read more</a>
            </div>
            <div class="col-4 carousel-step">
                <img src="img/callforpapers.png" alt="" class="img img-well" />
                <h3 class="muted">Call For Papers 2014</h3>
                <p>The call for papers for the event ESPRIT JUG DAY 2014 is now available.</p>
                <a href="#/jugDay/CallForPaper" class="btn btn-large btn btn-info">Read more</a>
            </div>
        </div>

    </div>
</div>