
<div class="container-center col-12">
    <div class="row">
        <div class="carousel-steps-container">
            <div class="col-2">



            </div>
                <div class="col-8 carousel-step">
                    <img src="img/EspJug.png" class="img img-well"/>
                    <h3 class="muted">ESPRIT JUG DAY 2013</h3>
                    <p>More than just an event, ESPRIT JUG DAY 2013 wants to be a moment of exchange and knowledge sharing between professionals, research professors and students.
                    Its sole purpose to provide a space information, exchanges and reflections around the new Java ™ technology.
                    This event is a premiere in Africa for the international community JUG and holds its importance to the quality of the stakeholders who will participate.
                    We will welcome guests and lecturers internationally known.
                    </p>


                   <!-- <br><br>
                    <img src="img/jugday2013/speakers.jpg">
                    <br><br><br>--><br>
                    <a href="#/jugDay/gallery" class="btn btn-large btn btn-funky"><i class="icon-camera"></i>View Gallery</a>
                    <br><br><br>

                    <iframe width="560" height="315"
                            ng-src="http://www.youtube.com/embed/5mzKA_WsldA"
                            frameborder="0" allowfullscreen>
                    </iframe>

                     <br><br><br>
                    <div class="docs-example">

                        <a href="http://www.esprit.ens.tn/" target="_blanck"> <img src="./img/espritLOGO.jpg" height="50" width="200"></a>
                        <a href="http://www.vermeg.com/" target="_blanck"> <img src="./img/vermeg.jpg" height="50" width="200"></a>
                        <a href="http://www.tmi.com.tn/" target="_blanck"> <img src="./img/tmi.jpg" height="50" width="200"></a>
                        <img src="img/dmkg.jpg" height="50" width="200" target="_blanck">
                    </div>

					
                       <br><br>
                    <a href="#" class="btn btn-large btn btn-primary">Back</a>
                </div>

            <div class="col-2">

            </div>

        </div>


        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular-touch.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.10.3/TweenMax.min.js"></script>

        <script src="js/app.js"></script>



    </div>
</div>
