

<div class="container-center col-12">
    <div class="row">
        <div class="carousel-steps-container">
            <div class="col-2"></div>
            <div class="col-8 carousel-step">
                <img src="img/EspJug.png" class="img img-well"/>
                <h3 class="muted">Esprit Tunisian JUG</h3>
                <p>JUG stands for Java ™ User Group is an independent, international, non-profit organization that brings together stakeholders and actors who share an interest in the Java ™ technology.
                    ESPRIT JUG is the first JUG organization active in Tunisia. We are a group of teachers scientists, engineers, professionals and students  who aims to promote the Java ™ technology through conferences regularly.
                    ESPRIT JUG hopes to play an important role in promoting the Java ™ technology spikes in Tunisia.
                </p>
                <a href="#" class="btn btn-large btn btn-primary">Back</a>
            </div>

        </div>

    </div>


</div>
