
    <div class="col-12">
        <h2 class="text-center">Esprit Tunisian JUG Admin</h2>

        <div class="row login">
            <form>

                <div class="form-fields">
                    <label for="UserName">User name:</label>
                    <input type="text" name="" id="UserName"  class="input-block" ng-model="admin.username" />

                </div>
                <div class="form-fields">
                    <label for="password">Password:</label>
                    <input type="password" name="" id="password"  class="input-block" ng-model="admin.password"/>

                </div>
                <div>
                    <button class="btn btn-success btn-block" ng-click="login()">Log in</button>
                </div>
            </form>
        </div>
        <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    </div>











